{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Добавить пользователя | {{ company.company_name }} | Perfecto{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Добавить пользователя в {{ company.company_name }}</h1>
                
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Добавить</button>
                        <a href="{% url 'company_detail' company_id=company.id %}" class="btn btn-light ms-2">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
